$white: #ffffff;
$black: #000000;
$gray-low: #ececec;
$gray-high: #292929;

$project-gradient: linear-gradient(180deg, rgba(41,41,41,1) 47%, rgba(255,255,255,1) 47%);

$color-primary: rgb(18, 79, 199);
$color-primary-dark: rgb(15, 64, 161);
$color-primary-light: rgb(22, 93, 236);

$font-primary: 'Montserrat', Arial, sans-serif;