$white: #ffffff;
$black: #000000;
$gray-low: #ececec;
$gray-high: #292929;

$project-gradient: linear-gradient(180deg, #4c527a 47%, rgba(255,255,255,1) 47%);

$color-primary: #424ed0;
$color-primary-dark: #27327A;
$color-primary-light: #9BA8FB;
$color-secundary: #4c527a;

$font-primary: 'Montserrat', Arial, sans-serif;