
@import '~assets/sass/app-sizes';
@import '~assets/sass/theme';

#portfolio {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    
}

.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex; justify-content: center;
    background-color: #fff;
}

.home-container {
    margin-top: 10rem;
    width: 100%;
    display: flex; justify-content: center;
}

.skill-container {
    width: 100%;
    background-color: $color-primary;
    display: flex; justify-content: center;
}

.projects-container {
    width: 100%;
    display: flex; justify-content: center;
}

.about-container {
    width: 100%;
    display: flex; justify-content: center;
    background-color: #f3f3f3;
}

#about {
    width: ($lg + 200px);
}

#header, #home, #skill {
    width: $lg;
}

#projects {
  width: 1200px;
}

@media only screen and (max-width: ($lg + 100px)) {
    #header, #home, #skill, #projects, #about {
        width: $md;
    }
}

@media only screen and (max-width: ($md + 50px)) {
    #header, #home, #skill, #projects, #about {
        width: 90%;
    }
}
