
@import '~assets/sass/app-sizes';
@import '~assets/sass/theme';

#portfolio {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    
}

.header-container {
    width: 100%;
    display: flex; justify-content: center;
}

.home-container {
    width: 100%;
    display: flex; justify-content: center;
}

.skill-container {
    width: 100%;
    background-color: $color-primary;
    display: flex; justify-content: center;
}

.projects-container {
    width: 100%;
    display: flex; justify-content: center;
}

.about-container {
    width: 100%;
    display: flex; justify-content: center;
    background-color: #f3f3f3;
}


#header, #home, #skill, #projects, #about {
    width: $lg;
}

@media only screen and (max-width: ($lg + 100px)) {
    #header, #home, #skill, #projects, #about {
        width: $md;
    }
}

@media only screen and (max-width: ($md + 50px)) {
    #header, #home, #skill, #projects, #about {
        width: 90%;
    }
}
