@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Work+Sans:wght@400&display=swap');

html, body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.app-padding {
    padding: 0 18vw;
}

.h2, a, span, div {
    font-family: 'Work sans', sans-serif;
    text-decoration: none;
}