@media only screen and (max-width: $lg) {
    .container-about, #about {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: $md) {
    .container-about, #about {
        display: flex;
        flex-direction: column;

        .content {
            width: 100%;
            display: flex; flex-direction: column;
            align-items: center;
    
            h1 {
                order: 1;
                font-size: 1.5rem;
                margin: 0;
            }
            
            p {
                order: 2;
            }
    
            .img {
                order: 0;
                border-radius: 0.5rem;
                width: 15rem; height: 15rem;
            }
        }
        .contact {
            width: 100%;

            .input-email, .input-text {
              width: 95%;
            }
        }
    }
}
@media only screen and (max-width: $sm) {
    .input-email, .input-text {
      width: 95%;
    }
}

