@import '~/assets/sass/theme';
@import '~/assets/sass/app-sizes';
@import '~/assets/sass/fonts';

.container-about, #about {

    width: 100%;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 
    "content contact"
    "more more";
    align-items: center;
    flex-direction: column;
    gap: 0 1rem;

    .img {
        border-radius: 50%;
        width: 15rem; height: 15rem;
        float: left;
        margin: 0rem 1rem 0rem 0rem;
        box-shadow: 5px 5px 10px #00000010;
    }
    
    .content {

        grid-area: content;
        margin: 1rem;
    
        h1 {
            font-family: $font-primary, sans-serif;
            color: $color-primary;
            font-size: 25pt;
            margin: 0.5rem;
        }

        h3 {
            font-size: 16pt;
            margin: 0;
            font-family: $font-tertiary, sans-serif;
            color: $color-secundary;
        }

        p {
            font-size: 13pt;
            margin-top: 0;
            text-align: justify;
            font-family: $font-tertiary, sans-serif;
            color: $color-secundary;
        }
    }

    .contact {
        grid-area: contact;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        gap: 0.5rem 0;

        h2 {
            margin: 0;
            font-size: 16pt;
            color: $color-secundary;
        }

        .input-email {
            width: 25rem;
            background-color: rgb(255, 255, 255);
            border: none;
            height: 0.5rem;
            padding: 1rem;
        }
        
        .input-email::placeholder, .input-text::placeholder {
            color: $color-secundary;
        }

        .input-text {
            width: 25rem;
            border: none;
            background-color: rgb(255, 255, 255);
            height: 5rem;
            padding: 1rem;
            resize: none;
        }

        .btn-send {
            width: 10rem;
            align-self: center;
            padding: 0.5rem 3rem;
            border-radius: 1rem;
            color: $white;
            font-weight: 600;
            cursor: pointer;
            border: 1px solid $color-primary;
            transition: .30s;
            background-color: $color-primary;
        } .btn-send:hover {
            color: $color-primary;
            background-color: #fff;
        }

        .message {
            display: flex; justify-content: center; align-items: center;
            background-color: rgb(203, 237, 203); border-radius: 5px;
            width: 95%; height: 2rem;
        }
    }


    .more {
        grid-area: more;
        display: flex; flex-direction: column; align-items: center; justify-content: center;
        margin: 6rem 0;
        .download {
            width: 5rem;
            display: flex; align-items: center; justify-content: center; gap: 4px;
            margin-top: 2rem;
            padding: 0.5rem 3rem;
            border-radius: 1rem;
            color: $color-primary;
            font-weight: 600;
            cursor: pointer;
            border: 1px solid $color-primary;
            transition: .30s;
        } .download:hover {
            background-color: $color-primary;
            color: $white;
        }

        .to-top {
            margin-top: 2rem;
        }
    }

    
}