@import '~/assets/sass/theme';
@import '~/assets/sass/app-sizes';

.container-about, #about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 6rem 0;
    grid-gap: 2rem;
    align-items: center ;

    .content {

        
        h1 {
            text-align: left;
            color: $color-primary;
        }
    }

    .image {
        justify-self: center;
        img {
            border-radius: 50%;
            width: 15rem; height: 15rem;
        }
    }

    @media screen {
        
    }
}