@import '~assets/sass/theme';

.container-project-item {
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10;
}

.project-title {
    font-family: $font-primary;
    font-size: 20pt;
}

.project-text {
    font-family: $font-primary;
    font-size: 12pt;
    list-style-type: none;
}